{% extends "SistemaWeb/base.html" %}
{% load static %}
{% block content %}
<<head>
        
  <meta charset="utf-8">
  
  <title> Formulario de Acceso </title>    
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <meta name="author" content="Videojuegos & Desarrollo">
  <meta name="description" content="Muestra de un formulario de acceso en HTML y CSS">
  <meta name="keywords" content="Formulario Acceso, Formulario de LogIn">
  
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Overpass&display=swap" rel="stylesheet">
  
  <!-- Link hacia el archivo de estilos css -->
  <link rel="stylesheet" href="css/login.css">
  
  <style type="text/css">
      
  </style>
  
  <script type="text/javascript">
  
  </script>
  
</head>

<body>
  
  <div id="contenedor">
      <div id="central">
          <div id="login">
              <div class="titulo">
                  Bienvenido
              </div>
              <form id="loginform">
                  <input type="text" name="usuario" placeholder="Usuario" required>
                  
                  <input type="password" placeholder="Contraseña" name="password" required>
                  
                  <button type="submit" title="Ingresar" name="Ingresar">Login</button>
              </form>
              <div class="pie-form">
                  <a href="#">¿Perdiste tu contraseña?</a>
                  <a href="#">¿No tienes Cuenta? Registrate</a>
              </div>
          </div>
          <div class="inferior">
              <a href="#">Volver</a>
          </div>
      </div>
  </div>
      
</body>

{% endblock %}  