
    {% extends "SistemaWeb/base.html" %}
    {% load static %}
    {% block content %}
</head>
<body>
  <div class="specialties-list">
    <div class="specialty">
      <h3>Dermatología</h3>
      <img src="{% static 'SistemaWeb/img/dermatologia.jpg' %}" alt="Dermatología">
      <p>La dermatología es una especialidad médica que se encarga del estudio, prevención y tratamiento de las enfermedades de la piel, las uñas y el cabello. Esta especialidad también incluye la estética cutánea.</p>
    </div>
    <div class="specialty">
      <h3>Ginecología</h3>
      <img src="{% static 'SistemaWeb/img/ginecologia.jpg' %}" alt="Ginecología">
      <p>La ginecología es una especialidad médica que se encarga de la salud de los órganos reproductivos femeninos, así como del embarazo, parto y postparto. Los ginecólogos también tratan problemas relacionados con la menstruación, la menopausia y los trastornos ginecológicos en general.</p>
    </div>
    <div class="specialty">
      <h3>Urología</h3>
      <img src="{% static 'SistemaWeb/img/urologia.png' %}" alt="Urología">
      <p>La urología es una especialidad médica que se encarga del sistema urinario, incluyendo los riñones, vejiga, ureter y uretra, así como los órganos reproductivos masculinos. Los urologistas tratan problemas como infecciones urinarias, incontencia urinaria, disfunción eréctil y otros problemas urológicos.</p>
    </div>
    <div class="specialty">
    <h3>Traumatología</h3>
    <img src="{% static 'SistemaWeb/img/traumatologia.png' %}" alt="Traumatología">
    <p>La traumatología es una especialidad médica que se encarga de la evaluación, diagnóstico y tratamiento de lesiones y enfermedades del sistema musculoesquelético, incluyendo huesos, músculos, tendones, ligamentos y articulaciones. Los traumatólogos tratan lesiones deportivas, fracturas y otros problemas relacionados con el tejido conectivo.</p>
    </div>
    <div class="specialty">
    <h3>Medicina General</h3>
    <img src="{% static 'SistemaWeb/img/medicina_general.jpg' %}" alt="Medicina General">
    <p>La medicina general es una especialidad médica que brinda atención primaria a pacientes con una amplia gama de afecciones médicas. Los médicos de medicina general son los primeros en atender a un paciente y brindar un diagnóstico y tratamiento adecuados, o remitir al paciente a un especialista si es necesario.</p>
    </div>
    <div class="specialty">
    <h3>Cardiología</h3>
    <img src="{% static 'SistemaWeb/img/cardiologia.jpg' %}" alt="Cardiología">
    <p>La cardiología es una especialidad médica que se encarga del estudio, prevención y tratamiento de las enfermedades del corazón y los vasos sanguíneos. Los cardiólogos tratan enfermedades como la hipertensión arterial, la enfermedad coronaria y otros trastornos cardiovasculares.</p>
    </div>
    <div class="specialty">
    <h3>Otorrinolaringología</h3>
    <img src="{% static 'SistemaWeb/img/otorrinolaringologia.jpg' %}" alt="Otorrinolaringología">
    <p>La otorrinolaringología es una especialidad médica que se encarga del estudio, prevención y tratamiento de las enfermedades de los oídos, nariz y garganta. Los otorrinolaringólogos tratan problemas como infecciones de oído, problemas de audición, ronquidos y otros trastornos relacionados con la cabeza y el cuello.</p>
</div>
</div>
  </body>
</html>
    {% endblock %}  