

    {% extends "SistemaWeb/base.html" %}
    {% load static %}
    {% block content %}
   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img  src="{% static 'SistemaWeb/img/home.jpg' %}" alt="">
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-lower">Gestión de Citas Médicas</span>
              </h2>
              <p class="mb-0">Software diseñado para ayudar a los profesionales de la salud a administrar sus citas de manera eficiente y organizada. Con este sistema, los pacientes pueden programar y cancelar citas en línea, sin tener que llamar por teléfono o enviar correos electrónicos. Además, permite a los médicos y enfermeros ver su calendario de citas en tiempo real y recibir recordatorios sobre citas programadas.Este sistema también puede ayudar a los profesionales de la salud a mantener un registro de las historias clínicas de los pacientes y realizar seguimientos a pacientes específicos. Al automatizar muchos de los procesos manuales asociados con la administración de citas, los profesionales de la salud pueden ahorrar tiempo y mejorar la eficiencia de su práctica médica.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}


    